.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body {
  min-height: 55vh;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  color: white;
  text-align: center;
  justify-content: center;
}

.footerText {
  padding-top: 20px;
}

.footerLink {
  padding-top: 20px;
  color: #61dafb;
}

.textBold {
  font-weight: bold;
}

.changeButton {
  margin-left: 10px;
  background-color: #282c34;
  color: white;
}